RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.html
RewriteRule ^about$ about.html
RewriteRule ^about$ about.html
RewriteRule ^resources$ resources.html
RewriteRule ^patterns$ patterns.html
RewriteRule ^blog$ blog.html
RewriteRule ^contact$ contact.html