RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# level 1
RewriteRule ^index$ index.html
RewriteRule ^contact$ contact.html

# projects
RewriteRule ^projects/weather$ projects/weather/index.html
RewriteRule ^projects/weather/info$ projects/weather/info.html

RewriteRule ^projects/news-feeds$ projects/news-feeds/index.html
RewriteRule ^projects/news-feeds/info$ projects/news-feeds/info.html

RewriteRule ^projects/google-charts$ projects/google-charts/index.html
RewriteRule ^projects/google-charts/info$ projects/google-charts/info.html

RewriteRule ^projects/backgrounds$ projects/backgrounds/index.html
RewriteRule ^projects/backgrounds/info$ projects/backgrounds/info.html