/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}


html{
  height: 100%;
  min-width:780px;
}

body {
	/*margin:50px 0px; padding:0px;
	text-align:center; */

	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 0.75em;

	height: 100%;
	background: -webkit-linear-gradient(#66CCCC, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#66CCCC, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#66CCCC, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#66CCCC, white); /* Standard syntax (must be last) */

	background-repeat: no-repeat;
}
	
#content {
	min-height:100%;
	margin:0px auto;
	text-align:left;
	padding:4%;
	display:table;
}

h2{
	font-size: 1.5em;
	color: blue;
}

.input-wrapper{
	float: right;
	margin-right: -66px;
}

#city-input{
	float:left;
}

a.city-name{
	text-decoration: none;
	font-size: 1.17em;
}

a:hover{
	color:white;
}

#loading{
	display: table-cell;
	vertical-align: middle;
}

#loading-inner{
	width:42px;
	height:42px;
	margin:0 auto;
}

#loading-forecast{
	width:42px;
	height:42px;
	margin:0 auto;
	padding-top: 3em;
}

h5{
	text-align:center;
	font-size: 0.8em;
	line-height: 1.5em;
}

h6{
	text-align:center;
	font-size: 1em;
	padding-top: 0.6em;
}

h3{
	font-size: 1.17em;
	color: blue;
}

 
.center-text{text-align:center;}

.weather-image{margin:0 auto;}

#selected-city{
	position: relative;
	text-align: center;
}

#weather-container{
	float:left;
}

ul{background-color: white;}